@bad: #F44336;
@comment: #FFEB3B;
@good: #4CAF50;

@import 'form.less';
@import 'post-it.less';
@import 'team.less';

.-clickable {
    cursor: pointer;
}

.-hide {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.material-icons {
    &.-bad {
        color: @bad;
    }

    &.-comment {
        color: @comment;
    }

    &.-good {
        color: @good;
    }
}
